.Meet {
  background: #76adde;
  overflow: hidden;
  padding-top: 10vh;
  margin: 0 !important;
  height: 105vh;
  float: left;
  width: 100%;
  margin-bottom: 16px;
  overflow: hidden;
}

.header h3 {
  color: rgb(0, 0, 0, 0.6);
}

.header {
  text-align: center;
}

.picture {
  object-fit: cover;
  border: 2px solid black;
  margin-top: 23vh;
  margin-left: 5vw;
  position: absolute;
  top: 10vh;
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
}
.picturePhone {
  object-fit: cover;
  border: 2px solid black;
  position: absolute;
  border-radius: 50%;
  height: 20vw;
  width: 20vw;
  visibility: hidden;
}

.us {
  padding-top: 13vh;
  justify-content: space-around;
  display: flex;
}

.me {
  background: white;
  padding-top: 10vh;
  border: solid rgb(0, 0, 0, 0.3) 0.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.7);
}

.me h5 {
  color: grey;
  margin: 0;
}
.me h4 {
  /* margin-bottom: 0; */
}

.me p {
  height: 15vh;
  width: 16vw;
  text-align: center;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: pointer;
  width: 70%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.button:hover {
  background-color: #555;
}

.button h4 {
  margin-top: 5vh;
}
@media only screen and (max-width: 768px) {
  .Meet {
    height: fit-content;
  }
  .picture {
    visibility: hidden;
  }
  .picturePhone {
    visibility: visible;
  }
  .us {
    flex-direction: column;
    align-items: center;
  }
  .me p {
    width: 80vw;
  }
  .me {
    padding-top: 0;
    height: fit-content;
    width: 90vw;
    margin-bottom: 2vh;
  }
  .me h4 {
    padding-top: 10vh;
  }
}
