.northTop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-image: -webkit-linear-gradient(-30deg, #76adde 50%, #ffffff 50%);
}
.northBottom {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: -webkit-linear-gradient(30deg, #76adde 50%, #ffffff 50%);
}
.areaImgs {
  margin-top: 5%;
}
.areaImg {
  border: 1px black solid;
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
}
.northHeader {
  width: 30vw;
  margin-top: 0;
  padding-top: 5%;
}
.northHeader > h3 {
  margin-bottom: 5%;
}
.northBottom > .accordion {
  width: 30vw;
}
