.northTop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-image: -webkit-linear-gradient(-30deg, #76adde 50%, #ffffff 50%);
}
.northBottom {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: -webkit-linear-gradient(30deg, #76adde 50%, #ffffff 50%);
}
.areaImgs {
  margin-top: 5%;
}
.areaImg {
  border: 1px black solid;
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
}
.northHeader {
  width: 30vw;
  margin-top: 0;
  padding-top: 5%;
}
.northHeader > h3 {
  margin-bottom: 5%;
}
.northBottom > .accordion {
  width: 30vw;
}
@media only screen and (max-width: 768px) {
  .northTop {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .areaImg {
    height: 60vw !important;
    width: 60vw !important;
    /* margin-top: 15vh; */
  }
  .northHeader {
    background: white;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 2px black;
    width: 90vw;
    padding: 2px;
    padding-top: 0;
    transition: 0.4s;
  }
  .northHeader:hover {
    box-shadow: 4px 4px 4px black;
    scale: 1.02;
  }
  .accordionContainer {
    width: 90vw !important;
  }
  .North button {
    height: 5vh;
    width: 50vw;
  }
  .North.input {
    height: 3vh !important;
  }
}
