.About {
  height: min-content;
  width: 48vw;
}
.aboutandnav {
  background-image: -webkit-linear-gradient(30deg, #76adde 50%, white 50%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.About hr {
  height: 2px;
  background: black;
}
.About h1 {
  font-size: 3vw;
  text-decoration: #013a6b underline solid;
}
.About.true {
  animation: aboutEntrence 3s;
}
.About p {
  font-size: 1.4vw;
  font-weight: 700;
}

@keyframes aboutEntrence {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.aboutandnav > .aboutImg {
  margin-left: 5%;
  border-radius: 25px;
  height: 55vh;
  width: 30vw;
  transition: 0.4s;
}
.aboutandnav > .aboutImg.true {
  animation: aboutEntrence 3s;
}
.aboutandnav > .aboutImg:hover {
  scale: 1.03;
  box-shadow: 3px 3px 3px #013a6b;
}
