.HOME {
  height: 100vh;
  background: white;
  overflow: hidden;
}
.theVideo {
  opacity: 0.7;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.ourLogo1 {
  width: 14vw;
  height: auto;
  border-radius: 50%;
}
.ourLogo2 {
  width: 14vw;
  height: auto;
  border-radius: 50%;
}
.headerContant {
  top: 65vh;
  display: flex;
  position: absolute;
  width: 100vw;
  height: fit-content;
  background-color: rgb(0, 0, 0, 0.2);
  align-items: center;
}
.smallContent {
  overflow: hidden;
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .HOME {
    height: 45vh;
  }
  .theVideo {
    opacity: 0.8;
    width: 100%;
    height: auto;
  }
  .headerContant {
    top: 35vh;
  }
  .ourLogo1 {
    visibility: hidden;
  }
  .ourLogo2 {
    visibility: hidden;
  }
}
