.Navigation {
  border-radius: 25px;
  margin: 5%;
  height: min-content;
  width: 30vw;
  padding: 2%;
  border: black solid 2px;
  transition: 0.4s;
  box-shadow: 1px 1px 1px #013a6b;
}
.Navigation a {
  text-decoration: none;
  color: #013a6b;
}
.Navigation.true {
  animation: aboutEntrence 3s;
}
.Navigation:hover {
  scale: 1.01;
  box-shadow: 4px 4px 3px #013a6b;
}
.Navigation h1 {
  font-style: italic;
  text-decoration: underline #013a6b solid;
}
