.Us {
  height: 80vh;
  /* background-image: -webkit-linear-gradient(-30deg, #76adde 50%, #ffffff 50%); */
}
.ourContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.ourImg {
  border-radius: 25px;
  height: 55vh;
  width: 35vw;
}
.ourOpinion {
  width: 50vw;
}
.Us h1 {
  color: black;
  text-decoration: underline solid 4px #013a6b;
  /* margin-top: 7%; */
  text-align: center;
  font-size: 3.5vw;
}
.exampleBottom {
  background: #013a6b;
}
.Us a {
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .ourContainer {
    flex-direction: column;
  }
  .ourOpinion {
    width: 95vw;
  }
  .ourImg {
    border-radius: 25px;
    height: 45vh;
    width: 95vw;
  }
  .Us h1 {
    font-size: 9vw;
  }
  .footerImg {
    height: 8vw;
    width: 8vw;
  }
  .exampleBottom h2 {
    font-size: 7vw;
  }
}
